@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.focusmater {
  display: flex;
  flex-direction: column; /* Stack h1 and p vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */ /* Take full viewport height */
  text-align: center; /* Center the text inside the elements */
}

.h1f {
  font-size: 30px;
  font-family: "Kanit", serif;
  margin: 0; /* Remove default margins */
  color: #000;
  font-weight: 350;
}

.para {
  font-family: "Jost", serif;
  font-weight: 400;
  font-size: 15px;
  color: #a4a3a3;
  margin: 0; /* Remove default margins */
}
.heighlight{
  color: orangered;
}
  .box-group {
    position: absolute;
  }
  
  .small-box1 {
    margin-left: -5px;
  }
  .small-box2 {
    margin-right:-30px;
  }
  
  .rectangle-box1 {
    width: 80px;
    height: 40px;
    position: relative;
    margin-top: -9px;
    left: -50px;
    right:40px /* Adjusts spacing between the small box and rectangle */
  }
  
  .rectangle-box2{
    width: 50px;
    height: 40px;
    position: absolute;
    margin-top: -9px;
    left: -10px
  }
  
  /* Positioning */
  .top-left {
    top: 120px;
    left: -90px;
  }
  
  .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .top-right {
    top: 50px;
    right: -70px;
  }
  
  .bottom-right {
    bottom: 70px;
    right: -90px;
    margin-bottom:-60px;
  }
  
  .large-box {
    position: absolute;
  }
  
  .bubble-slider {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: center; /* Center align the elements */
    gap: 1rem; /* Add space between the elements */
    margin-top: -1.5rem;
  }
  
  .bubblebutton {
    width: 40px;
    position: relative;
    z-index: 10;
  }
  .topdiv,
  .bottomdiv {
    height: 20px;/* Same background color for seamless blending */
  }
  .upskill-button {
    display: flex;
    align-items: center;
    padding: 3px 3px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid black;
    width: 250px;
    height: 10px;
  }
  
  .graph-icon {
    width: 2px;
    height: 2px;
    margin-right: 20px;
    margin-top: -20px;
  }
  
  .arrow-icon {
    width: 0.5px;
    height: 1px;
    margin-left: -0.5px;
    margin-top: -15px;
  }
  .txt{
    font-size: 9px;
    font-family: "Jost", serif;
  }