@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.game-theory-container {
    display: flex;
    gap: 20px; /* Spacing between div1 and div2 */
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
  }
  
  #div1 {
    width: 300px; /* Adjust width for div1 */
    margin-left: 20px;
    
}
  
  #div2 {
    width: 350px; /* Adjust width for div2 */
    margin-right: 20px;
}
  
  .small-image {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 100px;
  }
  
  .large-image {
    width: 350px;
    height: 60px;
    margin-bottom: 10px;
  }
  
  .trynow-button {
    width: 80px;
    height: 20px;
    cursor: pointer;
    margin-right: 200px;
  }
  
  .game-image {
    width: 350px;
    height: 300px;
  }

  .h1f{
    font-size: 30px;
    font-family: "Kanit", serif;
    margin: 0; /* Remove default margins */
    font-weight: 350;
    color: orangered;
  }
  .para{
    font-family: "Jost", serif;
    font-weight: 400;
    font-size: 15px;
    color: #a4a3a3;
    margin: 0; /* Remove default margins */
  }  
  