@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    height: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-family: "Kanit", serif;;
    font-size: 1.5rem;
    font-weight: bold;
    color: #100f0f;
  }
  
  .logo span {
    color: #000;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-weight: 500;
    font-family: "Jost", serif;
  }
  
  .nav-button {
    font-family: "Jost", serif;
    background-color: #ff5722;
    padding: 0.5rem 1rem;
    border-radius: 15px;
  }
  