.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Full-screen height */
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the screen without distortion */
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Adds a dark overlay for text readability */
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  text-align: left;
  color: white;
  top: 30%;
  left: 50%;
  transform: translate(-45%, -50%);
}

#heroh1{
  font-size: 1.5rem;
}

#heroh2{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.get-started {
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin-top: -1rem;
  margin-right: 40px;
}

.hero-content .futureheading{
  margin-bottom: 1.5rem;
}

.mobile-frame{
  position: absolute;
  bottom: 30px; /* Distance from the bottom of the screen */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 4;
  width: 200px;
  bottom: 0px;
}

.future-goals-frame{
  position: absolute;
  bottom: 30px; /* Distance from the bottom of the screen */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 4;
  width: 200px;
  bottom: 10px;
}